body {
    background-color:lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }


  h1 {
    background-color: dodgerblue;
    color: snow;
  }

  main {
    background-color: white;
    color: navy;
  }

@media screen and (min-width:520px)
{
 h1{
   font-size: 32px;
 } 
 /* for mobile screen size*/
}


@media screen and (max-width:800px)
{
  /* for desktop screen size*/
}